*{
    box-sizing: border-box;
}

body{
    background-color: white;
}

h1{
    margin-bottom: 15px;
    text-align: center;
    
}

section{
    
    position: relative;
    padding: 15px;
    width: 90%
}

p{
    position: relative;
    clear:right;
}


div{
    
    position: relative;
    width: 380px ;
    background-color: gray;
    border: 3.5px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    height: 215px;

}

.sub1{
    float:right;
    width: 100px;
    padding: 5px;
    margin-top: 0px;
    background-color: pink;
    border: 2px solid black;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}

.sub2{
    float:right;
    color: white;
    width: 100px;
    padding: 5px;
    margin-top: 0px;
    background-color:brown;
    border: 2px solid black;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}

.sub3{
    float:right;
    width: 100px;
    padding: 5px;
    margin-top: 0px;
    background-color:rgb(223, 212, 121);
    border: 2px solid black;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}

.content{
    
    padding:5px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: left;
    background-color: gray;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    height: 150px;
    width: auto;
    
}

.row{
    width: 90%;
}

@media (min-width: 992px) {
    .column-lg-4 {
        float: left;
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .colmn-md-6 {
        float: left;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .colmn-md-12 {
        float: left;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}


